body {
    margin: 1em;
    font-family: "Open Sans", sans-serif, "Segoe UI Emoji", "EmojiOne Mozilla", "EmojiOne";
    font-weight: 300;
    background: white;
}

section {
    max-width: 40em;
    margin: auto;
}

header {
    padding: .5em 0;
    border-bottom: .01em solid #D3D3D3;
    margin-bottom: 1em;
}

header h1 {
    font-size: 180%;
    margin: 0;
}

header a {
    color: inherit;
}

header a:hover {
    color: inherit;
    text-decoration: inherit;
}

#error {
    padding: 1em;
    text-align: center;
    background-color: #D3D3D3;
    border-radius: .25em;
}

main, #error {
    padding: 1em;
    text-align: center;
    border-radius: .25em;
}

#error {
    font-weight: 600;
    color: white;
    background-color: #B11212;
    margin-bottom: 1ex;
}

main {
    background-color: #D3D3D3;
}

main textarea, main input {
    display: block;
    margin: 0 auto;
}

main .button {
    font-size: 110%;
    margin: .5em 0;
}

main .setting {
    margin-right: 1em;
}

article h1 {
    text-align: center;
    font-size: 180%;
    margin: 0;
    padding: .5em 0;
    border-bottom: .01em solid #D3D3D3;
}

article blockquote {
    margin: 1em 0;
    padding: .5em 0;
    line-height: inherit;
    border-left: .25em solid #D3D3D3;
}

article blockquote p {
    margin: 0 2em;
}

footer {
    border-top: .01em solid #D3D3D3;
}

footer .gitlab {
    margin-top: .2em;
}

footer .copyright {
    margin-top: .2em;
    float: right;
}

h1, h2, h3, h4, h5, strong {
    font-weight: 600;
}

a {
    color: #2E8B57;
    text-decoration: none;
}

a:hover {
    color: #297748;
    text-decoration: underline;
}

a.button {
    display: inline-block;
    color: white;
    background: #2E8B57;
    text-decoration: none;
    border-radius: .2em;
    padding: .5em;
}

a.button:hover {
    color: white;
    background: #297748;
    text-decoration: none;
}
